@{
	Layout = "_Layout";
}

<header>
	<nav>
		<ul>
			<li class="logo">Tsena <img src="~/img/logo/online-shopping.png" alt=""></li>
			<li>
				<ul>
					<li>
						<a asp-controller="ShopManagement" asp-action="Index">
							<p>Accueil</p>
						</a>
					</li>
					<li>
						<a asp-controller="Home" asp-action="Login">
							<p>Connexion</p>
						</a>
					</li>
					<li>
						<a asp-controller="User" asp-action="Register">
							<p>Inscription</p>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</header>
<main>
	@RenderBody()
</main>