@{
	Layout = "_Layout";
}

<header>
	<nav>
		<ul>
			<li class="logo">
				<a asp-action="Index" asp-controller="ShopManagement">
					Tsena <img src="~/img/logo/online-shopping.png" alt="">
				</a>
			</li>
			<li>
				<ul>
					<li>
						<a asp-controller="ShopManagement" asp-action="Index">
							<p>Accueil</p>
						</a>
					</li>
					<li>
						<a asp-controller="Authentication" asp-action="Login">
							<p>Connexion</p>
						</a>
					</li>
					<li>
						<a asp-controller="Authentication" asp-action="Register">
							<p>Inscription</p>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</header>
<main>
	@RenderBody()
</main>