@{
	Layout = "_Layout";
}

<header>
	<nav>
		<ul>
			<li>
				<div class="logo-container">
				</div>	
			</li>
			<li>
				<ul>
					
				</ul>
			</li>
		</ul>
	</nav>
</header>
<main>
	<h1>Hello</h1>
	@RenderBody()
</main>