@{
    Layout = "_Layout";
}

<div class="container">
        <div class="sidebar">
            <nav>
                <ul class="navbar-nav flex-grow-1">
                    @if(User.Identity?.IsAuthenticated ?? false){
                        <li>
                            <a asp-area="" asp-controller="ShopManagement" asp-action="Index">
                                <img src="~/img/icon/store-alt.png" alt="Toutes les boutiques" title="Toutes les boutiques">
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Parametre">
                                <img src="~/img/icon/api.png" alt="Paramètre" title="Paramètres">
                            </a>
                        </li>
                    }else{
                        <li class="disabled-link">
                            <a asp-area="">
                                <img src="~/img/icon/store-alt.png" alt="Toutes les boutiques" title="Toutes les boutiques">
                            </a>
                        </li>
                        <li class="disabled-link">
                            <a asp-area="">
                                <img src="~/img/icon/api.png" alt="Paramètre" title="Paramètres">
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
        <div class="right_side_bar">
            <nav>
                <ul class="userinfo-container">
                    <li class="logo">Tsena <img src="~/img/logo/online-shopping.png" alt=""></li>
                    @*
                        <li>
                            <div class="profil">
                                <img src="~/img/profil/profil.JPG" alt="">
                            </div>
                        </li>
                    *@
                    @if(User.Identity?.IsAuthenticated ?? false){
                        <li>
                            <form asp-action="Logout" asp-controller="Authentication">
                                <a>
                                    <button>Se déconnecter</button>
                                </a>
                            </form>
                        </li>
                    }else{
                        <li>
                            <a asp-controller="Authentication" asp-action="Login">
                                <button>Se connecter</button>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
</div>