<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TSENA</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TSENA.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/img/logo/online-shopping.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <nav>
                <ul class="navbar-nav flex-grow-1">
                    <li>
                        <a asp-area="" asp-controller="ShopManagement" asp-action="Index">
                            <img src="~/img/icon/store-alt.png" alt="Toutes les boutiques" title="Toutes les boutiques">
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Parametre">
                            <img src="~/img/icon/api.png" alt="Paramètre" title="Paramètre">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="right_side_bar">
            <nav>
                <ul>
                    <li class="logo">Tsena <img src="~/img/logo/online-shopping.png" alt=""></li>
                    <li>
                        <div class="profil">
                            <img src="~/img/profil/profil.JPG" alt="">
                        </div>
                    </li>                 
                </ul>
            </nav>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>