@model IEnumerable<TSENA.Models.Shop>
@{
    ViewData["Title"] = "Index";
    Layout = "_HomeLayout";
}
<div class="toutes_les_boutiques">
    @foreach (var item in Model) {
        <div class="card_boutique">
            <a asp-action="Details" asp-route-id="@item.Id">
                <img src="@item.ShopLogoNetworkPath" alt="">
            </a> 
        </div>
    }
    <div class="card_ajout_boutique" alt="Ajouter une boutique" title="Ajouter une boutique">
        <img src="~/img/icon/square-plus.png">
    </div>
</div>















