@{
    ViewData["Title"] = "Confirmation de réinitialisation";
    Layout = "_AuthenticationLayout";
}

<main class="message-container">
    <h2>@ViewData["Title"]</h2>
    <p>
        On vous a envoyé un lien de réinitialisation de mot de passe à votre adresse email.
    </p>
</main>