@{
    ViewData["Title"] = "Mot de passe oublié";
    Layout = "_AuthenticationLayout";
}

<form asp-action="ForgotPassword" method="POST" id="Forgot-Password-Form">
    <fieldset>
        <legend>Mot de passe oublié ?</legend>
        <div class="element">
			<label for="Email">Saisissez votre email</label>
			<input type="email" name="Email" id="Email" required placeholder="example@gmail.com">
		</div>
        <div class="button-container">
			<button>Envoyer le lien de réinitialisation</button>
		</div>
    </fieldset>
</form>

@if (ViewData["Error"] != null)
{
    <p style="color: red;">@ViewData["Error"]</p>
}