@model TSENA.Models.User;

@{
	ViewData["Title"] = "Se connecter";
	Layout = "_AuthenticationLayout";
}

<form method="POST" asp-action="Login">
	<fieldset>
		<legend>Connexion</legend>
		<div class="element">
			<label for="Email">Saisissez votre email</label>
			<input type="email" name="Email" id="Email" asp-for="Email" required placeholder="example@gmail.com">
		</div>
		<div class="element">
			<label for="Password">Saisissez votre mot de passe</label>
			<input type="password" name="Password" id="Password" asp-for="Password" required placeholder="votre mot de passe">
		</div>
		<div class="button-container">
			<button>connexion</button>
		</div>
	</fieldset>
</form>