@model TSENA.Models.User;

@{
	ViewData["Title"] = "Se connecter";
	Layout = "_AuthenticationLayout";
}

@if (ViewData["Error"] != null)
{
	<div class="alert alert-error">
    	<p>@ViewData["Error"]</p>
	</div>
}

@if (TempData["success"] != null){
	<div class="alert alert-success">
    	<p>@TempData["success"]</p>
	</div>
}

<form method="POST" asp-action="Login" id="Auth-form">
	<fieldset>
		<legend>Connexion</legend>
		<div class="element">
			<label for="Email">Saisissez votre email</label>
			<input type="email" name="Email" id="Email" asp-for="Email" required placeholder="example@gmail.com">
		</div>
		<div class="element">
			<label for="Password">Saisissez votre mot de passe</label>
			<input type="password" name="Password" id="Password" asp-for="Password" required placeholder="votre mot de passe">
		</div>
		<div class="button-container">
			<button>connexion</button>
			<a asp-action="ForgotPassword">Mot de passe oublié?</a>
		</div>
	</fieldset>
</form>