@model TSENA.Models.ResetPasswordTokens;
@{
    ViewData["Title"] = "Réinitialisation du mot de passe";
    Layout = "_AuthenticationLayout";
}

<form asp-action="NewPassword" method="POST" id="new-password">
    <fieldset>
        <legend>Réinitialisation du mot de passe</legend>
        <input type="hidden" asp-for="Token" />
        <div class="element">
            <label for="newPassword">Nouveau mot de passe</label>
            <input type="password" class="form-control" asp-for="NewPassword" required placeholder="Choisissez un mot de passe robuste" />
        </div>

        <div class="element">
            <label for="confirmPassword">Confirmez le mot de passe</label>
            <input type="password" class="form-control" asp-for="ConfirmPassword" required placeholder="Ressisissez le mot de passe" />
        </div>

        <button type="submit" class="btn btn-primary">Réinitialiser</button>
    </fieldset>
</form>


@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}