@model TSENA.Models.ChangePasswordModel

@{
    ViewData["Title"] = "Changement de mot de passe";
    Layout = "_HomeLayout";
}

<form method="POST" asp-action="Login" id="change-password">
    <h2>Changement mot de passe</h2>
	<div class="element">
		<label for="Email">Ancien mot de passe</label>
		<input type="email" name="Email" id="Email" required placeholder="example@gmail.com">
	</div>
	<div class="element">
		<label for="Password">Nouveau mot de passe</label>
		<input type="password" name="Password" id="Password" required placeholder="votre mot de passe">
	</div>
	<div class="element">
		<label for="Password">Confirmez le nouveau mot de passe</label>
		<input type="password" name="Password" id="Password" required placeholder="votre mot de passe">
	</div>
	<div class="button-container">
		<button>changer le mot de passe</button>
	</div>
</form>