@{
    ViewData["Title"] = "Product name";
    Layout = "_HomeLayout";
}

<main id="details-product">
    <section id="details-container">
        <header>
            <h2>Détails produit:</h2>
        </header>
        <section id="contents">
            <section id="img">
                <div class="img-container">
                    <img src="~/img/katemiraine (3).jpg" alt="">
                </div>
            </section>
            <section id="info-container">
                <header>
                    <h3>Ensemble collant</h3>
                    <section class="descriptions">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum culpa saepe aperiam placeat sunt? Quia in odit labore provident voluptate ut ex voluptatum quam harum totam, repellendus inventore repellat tempore unde quo aliquam! Assumenda laboriosam, suscipit omnis quibusdam sed similique, ex laborum voluptatum iure minima ab explicabo, officia enim nam! Quae eum dolores, soluta amet dolore esse cumque, quia eius officiis maxime, nostrum rem ab. Facere porro, ea dolorum quidem, odit nesciunt soluta maxime dolorem quia, quasi mollitia velit saepe quibusdam tempore. Laborum, corporis consequuntur repellat quibusdam maxime sunt eligendi vel ullam, est similique reprehenderit. Rem fuga maiores dolorem voluptate.</p>
                    </section>
                </header>
                <footer>
                    <section class="price">
                        <p>55,000 Ar</p>
                    </section>
                    <section class="action">
                        <button>ajouter au panier</button>
                    </section>
                </footer>
            </section>
        </section>
    </section>
</main>